* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .showingSubCategoriesContainer {
    padding: 30px 50px;
  }
  
  .showingSubCategoriesContainer h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .subCategroyItems {
    margin: 50px;
  }
  
  .subCategorySingleItem {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .subCategorySingleItem::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
  }
  
  .subCategorySingleItem:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .subCategorySingleItem img {
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
  }
  
  .subCategorySingleItem p {
    margin-top: 20px;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
  
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
  
  .cat_custom_prev,
  .cat_custom_next {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(97, 64, 64) !important;
    color: white !important;
    transition: background-color 0.3s;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .cat_custom_prev {
    left: -40px;
  }
  
  .cat_custom_next {
    right: -40px;
  }
  
  .cat_custom_prev:hover .fas,
  .cat_custom_next:hover .fas {
    transform: scale(1.2);
  }
  
  .cat_custom_prev .fas,
  .cat_custom_next .fas {
    color: white;
    font-size: 30px;
    transition: all 0.4s;
  }
  
  .slick-track {
    overflow: hidden;
  }
  