.adminListContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px 0px;
    background-color: rgb(242, 236, 242);
    box-shadow: 0 0 5px rgb(246, 240, 230);
    border-radius: 5px;
    height: fit-content;
}

.amdinListNavLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    width: 70%;
    border: 2px solid black;
    border-radius: 7px;
    background-color: rgb(248, 245, 245);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;

}


.adminListContainer a:hover {
    color: white;
    background-color: #79b6f7;
    border-color: #79b6f7;
}

.adminListActive {
    background-color: #007bff !important;
    color: #ffffff !important;
    border-color: #007bff !important;
}

.listArrowIcon {
    margin-left: auto;
    transition: transform 0.3s;
}

.adminListActive .listArrowIcon {
    transform: rotate(90deg);
}

.adminListContainer button:hover {
    background-color: red;
    color: white;
}