.cartMainHeading {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    text-align: center;
    margin: 20px 0px;
    word-spacing: 2px;
}

.cartRegisterText {
    color: rgb(233, 61, 61);
    text-decoration: none;
    border-bottom: 3px solid rgb(233, 61, 61);
}

.cartContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.cartProducts {
    /* flex: 1 1 60%; */
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartProduct {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.cartProduct:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.cartProduct img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}


.cartProductDetails {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
    /* background-color: red; */
}

.cartProduct h2 {
    font-size: 1.2rem;
    color: #333;
    margin: 0;
}

.cartProduct p {
    font-size: 1.14rem;
    color: #666;
    margin: 5px 0;
}

.cartProduct p span {
    font-size: 1.4rem;
    font-weight: 500;
    color: #100f0f;
    margin: 5px 0;
}


.removeCartItemBtn {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 40px;
    height: 40px;
}



.cartProduct button:hover i {
    color: red;
}



/* totals side  */

.addressAndTotals {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.cartPriceTotal {
    flex: 1 1 35%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cartPriceTotal p {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
}

.cartPriceTotal p span {
    font-size: 1.3rem;
    color: #080808;
    margin: 10px 0;
}


.cartPriceTotal button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    margin-top: 20px;
}

.cartPriceTotal button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}

.cartPriceTotal button:hover:not(:disabled) {
    background-color: #27ae60;
}

.cartAddressContainer {
    margin-top: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cartAddressContainer h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}



.cartAddressContainer p {
    font-size: 1.2rem;
    color: #666;
    margin: 5px 0;
}

.cartAddressContainer p span {
    font-size: 1.3rem;
    color: #100f0f;
    margin: 5px 0;
}


.cartAddressContainer a {
    display: inline-block;
    margin-top: 15px;
    font-size: 1.1rem;
    color: #3498db;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

.cartAddressContainer a:hover {
    color: #2980b9;
    border-bottom: 1px solid #2980b9;
}


#cartRegisterBtn {
    display: inline-block;
    margin-top: 15px;
    font-size: 1.5rem;
    color: #3498db;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
    color: #2980b9;
    border-bottom: 2px solid #2980b9;
}

#cartRegisterBtn:hover {
    color: #2980b9;
    border-bottom: 1px solid #2980b9;
}

#cartRegisterText {
    font-size: 1.3rem;
    color: #100f0f;
    margin: 10px 0;
}

.quantity-selector {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-selector button {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.quantity-selector button:hover {
    border-color: #000;
    background-color: #f0f0f0;
}

.quantity-selector span {
    font-size: 18px;
    color: #333;
    min-width: 20px;
    text-align: center;
}