.main-container {
  margin-top: 20px;
  padding: 0px 10px;
}

.filterAndProductsContainer {
  display: flex;
  margin-top: 30px;
  gap: 10px;
}

.filter-container {
  width: 15%;
  border-radius: 10px;
}

.filter-container h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.price-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-filter input {
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.price-filter button {
  padding: 6px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.price-filter button:hover {
  background-color: #0056b3;
}

.allproducts-container {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.7rem;
}

.clothes-filter {
  margin-top: 10px;
}

.clothes-filter p {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.clothes-filter select {
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.allFiltersContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 30px;
  gap: 1.8rem;
  z-index: 1;
}

.filter_icon_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  display: none;

  &:hover {
    cursor: pointer;
  }
}


.filter_icon_Container p {
  margin: 0;
}


.showFilterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5%;

  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.15);
}


@media(max-width:992px) {
  .filter_icon_Container {
    display: flex;
  }

  .filter-container {
    display: none;
  }

  .allproducts-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width:768px) {
  .allproducts-container {
      width: 100%;
      display:grid;
      grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:576px) {
  .allFiltersContainer {
    padding-right: 10px;
  }
}