.main-container {
  display: flex;
  padding: 10px;
  /* background-color: blue; */
}

.filter-container {
  width: 15%;
  /* background-color: #f9f9f9; */
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.filter-container h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.price-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-filter input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.price-filter button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.price-filter button:hover {
  background-color: #0056b3;
}

.allproducts-container {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}





/* .quantity-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.quantity-selector button {
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  color: #fff;
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-align: center;
}

.quantity-selector span {
  width: 20px;
  text-align: center;
} */
