.product-details-container {
    padding: 20px;
    /* background-color: blue; */
    width: 100%;
}

.upperProductDetails {
    margin-bottom: 40px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.mainProductContainer {
    display: flex;
    gap: 80px;
}

.productImages {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 40%;
}

.mainImage {
    width: 100%;
    max-width: 500px;
    object-fit: contain;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.otherImages {
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 40px;
}

.otherImages img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    opacity: 0.8;
}

.otherImages img:hover {
    border-color: #333;
    opacity: 1;
}

.otherImages img.activeImage {
    border-color: #333;
    opacity: 1;
}


.productDetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.productDetails label {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
}

.productDetails p {
    font-size: 1.15rem;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #555;
}

.productDetailsTitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.detailsProductPrices {
    display: flex;
    gap: 8px;
}

.detailsProductPrices p:last-child {
    text-decoration: line-through;
    color: rgb(4, 144, 4);
}

.detailsProductPrices p:first-child {
    font-weight: 500;
}

.actionBtns {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.actionBtns button {
    background-color: black;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px 18px;
    width: 60%;
    margin-top: 20px;
    transition: all 0.4s;
}

.actionBtns button:hover {
    background-color: white;
    color: black;
}


@media(max-width:1024px) {
    .productDetailsTitle {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .mainProductContainer {
        flex-direction: column;
        gap: 50px;
    }

    .productImages {
        width: 100%;
    }

    .productDetails {
        width: 100%;
    }
}
@media (max-width: 576px) {

    .productDetailsTitle {
        text-align: start;
        font-size: 1.5rem;
        font-weight: 700;   
    }

}